@using Microsoft.AspNetCore.Http;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Java Patient User Information - Testing Exam</title>
    <link rel="icon" href="~/assets/images/favicon-32x32.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">

    <!--favicon-->
    <link rel="stylesheet" href="~/assets/icon-stock/icon.css">
    <link rel="icon" href="~/assets/images/favicon-32x32.png" type="image/png" />
    <!--Data Tables -->
    <link href="~/assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <!--plugins-->
    <link href="~/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="~/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/smart-wizard/css/smart_wizard_all.min.css" rel="stylesheet" type="text/css" />
    <!--styles2-->
    <link rel="stylesheet" href="~/assets/css/styles2.css" />
    <!-- loader-->
    <link href="~/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/assets/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/assets/css/icons.css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="~/assets/css/app.css" />
    <link rel="stylesheet" href="~/assets/css/dark-sidebar.css" />
    <link rel="stylesheet" href="~/assets/css/dark-theme.css" />

    @*<link rel="stylesheet" href="~/assets/icon-stock/demo-files/demo.css">*@
    <link rel="stylesheet" href="~/assets/icon-stock/icon.css">

    <!-- Custom Css-->
    <link rel="stylesheet" href="~/assets/css/custom.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet" type="text/css" />
    <!--<link href="~/assets/css/dataTables.fontAwesome.css" rel="stylesheet" />-->

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>

    <style> 
        #tblspinner-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white overlay */
            z-index: 1000; /* Higher z-index to cover other elements */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #spinner-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white overlay */
            z-index: 999999; /* Higher z-index to cover other elements */
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #spinner-container {
            position: relative;
        }

        .activeMenu {
            color: #ffffff !important;
            text-decoration: none !important;
            background: #673ab7 !important;
        }
    </style>
</head>


<body>
    <!-- wrapper -->
		<div class="wrapper">
		<!--header-->
		<header class="top-header">
			<nav class="navbar navbar-expand">
				<div class="sidebar-header">
					<div class="d-none d-lg-flex">
					</div>
					<div>
					</div>
					<a href="javascript:;" class="toggle-btn ml-lg-auto"> <i class="bx bx-menu"></i>
					</a>
				</div>
				<div class="flex-grow-1 search-bar">
				</div>
				<div class="right-topbar ml-auto">
					<ul class="navbar-nav">
						<li class="nav-item dropdown dropdown-user-profile">
							<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
								<div class="media user-box align-items-center">
									<div class="media-body user-info">
										<p class="user-name mb-0">@User.Identity.Name</p>
										@*<p class="designattion mb-0">Available</p>*@
									</div>
									<img src="https://via.placeholder.com/110x110" class="user-img" alt="user avatar">
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								@*<a class="dropdown-item" href="javascript:;"><i class="bx bx-user"></i><span>Profile</span></a>*@
                                <div class="dropdown-divider mb-0"></div>	<a class="dropdown-item" asp-controller="Home" asp-action="Logout"><i class="bx bx-power-off"></i><span>Logout</span></a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!--end header-->
        @{
        Html.RenderPartial("_LayoutMenu");
        }
		<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper" style="margin-left:0px !important;">
				<div class="page-content">
					@RenderBody()
				</div>
			</div>
			<!--end page-content-wrapper-->
		</div>
		<!--end page-wrapper-->
		<!--start overlay-->
		<div class="overlay toggle-btn-mobile"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javascript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<!--footer -->
       
		<!-- end footer -->
	</div>

    <div id="spinner-overlay">
        <div id="spinner-container"></div>
    </div>
    
    <!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/assets/js/jquery.js"></script>
    <script src="~/assets/js/popper.min.js"></script>

    <script src="~/assets/plugins/datepicker/js/jquery-3.6.0.js"></script>
    <script src="~/assets/plugins/datepicker/js/jquery-ui.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!--plugins-->
    <script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <!-- App JS -->
    <script src="~/assets/js/app.js"></script>

    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/js/jquery.ph-locations-v1.0.0.js"></script>

    <!-- Dropzone JS -->
    <script src="~/assets/js/dropzone.min.js"></script>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.tiny.cloud/1/vdqx2klew412up5bcbpwivg1th6nrh3murc6maz8bukgos4v/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @RenderSection("styles", false)


    @{
        var controller = ViewContext.RouteData.Values["Controller"];
        var action = ViewContext.RouteData.Values["Action"];
    }

    <script>
        var spinnerOverlay = document.getElementById('spinner-overlay');
        var spinnerContainer = document.getElementById('spinner-container');

        var spinnerOptions = {
            lines: 13,
            length: 0,
            width: 14,
            radius: 50,
            scale: 2,
            corners: 1,
            color: '#0000FF',
            opacity: 0.25,
            rotate: 0,
            direction: 1,
            speed: 1,
            trail: 60,
            fps: 20,
            zIndex: 2e9,
            className: 'spinner',
            top: '50%',
            left: '50%',
            shadow: false,
            hwaccel: false,
            position: 'absolute'
        };

        var spinner = new Spinner(spinnerOptions).spin(spinnerContainer);
        //spinner.stop();
        spinnerOverlay.style.display = 'none';

        // Example: Simulate a delay to stop the spinner after 3 seconds
        //setTimeout(function () {
        //    spinner.stop();
        //    spinnerOverlay.style.display = 'none'; // Hide the overlay
        //}, 3000);
    </script>
   

    @RenderSection("scripts", false)

</body>


</html>