@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card radius-15 bg-white btn-card h-card">
            <div class="card-body">
                @*<img src="~/assets/images/multicare.png" alt="" style="width: 100%; height:100%;" />*@
            </div>
        </div>
    </div>
</div>

@*@section scripts {
	@{

		await Html.RenderPartialAsync("IndexScript", null);


	}
}*@